@{
    ViewData["Title"] = "Home Page";
    var thongbao = ViewData["thongbao"] as string;
    var loginfalse = ViewData["loginfalse"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (thongbao != null)
    {
        <h2>xin chào : @thongbao</h2>
    }
    @if (loginfalse != null)
    {
        <h2>xin chào : @loginfalse</h2>
    }
</div>
