<form method="get" asp-controller="Home" asp-action="Login">
    <h6>Nhập username</h6>
    <input name="user" type="text" placeholder="Username...">
    <h6>Nhập password</h6>
    <input name="pass" type="text" placeholder="Password...">
    <button type="submit">Đăng nhập</button>
</form>
